<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198033400155-9vfad4o59jkmi5a88fpd02m50g1lqqtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198033400155-9vfad4o59jkmi5a88fpd02m50g1lqqtd</string>
	<key>API_KEY</key>
	<string>AIzaSyC4SmNEvdCXuaa95KnSCfXiILFHuhB2Fww</string>
	<key>GCM_SENDER_ID</key>
	<string>198033400155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationFire</string>
	<key>PROJECT_ID</key>
	<string>baseflutter-78ec5</string>
	<key>STORAGE_BUCKET</key>
	<string>baseflutter-78ec5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198033400155:ios:224f9e9ac2739f86087a7e</string>
</dict>
</plist>